<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- Lokal DevExpress 26.1 paket kaynagi - oncelikli -->
    <add key="DevExpress 26.1 Local" value="C:\Program Files\DevExpress 26.1\Components\System\Components\Packages" />
    <!-- Microsoft paketleri icin nuget.org -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="DevExpress 26.1 Local">
      <package pattern="DevExpress.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
